/*
#countlabel {
  display: block;
  text-align: center;
  font-family: "helvetica";
  font-size: 10cap;
}
#btncountainer {
  text-align: center;
}
.buttons {
  color: rgb(109, 109, 109);
  font-size: 1, 5em;
  padding: 10px 20px;
  background-color: rgb(108, 236, 172);
  border-radius: 10px;
  border-color: rgb(81, 87, 99);
  cursor: pointer;
  transition: background- 0, 25s;
}
.buttons:hover {
  background-color: rgb(76, 182, 129);
  color: aliceblue;
}
*/
